*{
  font-family: Montserrat;
  margin: 0;
  padding: 0;
}
.gridBox{
  width: 2vw;
  height: 2vw;
}
#subContainer{
  display: flex;
  flex-direction: row;
  background-color: white;
}
#mainContainer{
  padding: 0;
  box-shadow: 0.3px 0.1px 4px 1px #d3cccc;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EFEEE5;
}
#newGrid{
  background-color: #274546;
  color: #EFEEE5;
  border: none;
  padding: 5px;
  border-radius: 4px;
  margin: 2vh;
  width: 50vw;
}
#instructions{
  color: #274546;
  margin-bottom: 2vh;
  font-size: smaller;
}
/* Navbar */
.nav{
  background-color: #274546;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
.nav > p{
  color: #EFEEE5;
}
#footer{
  font-size: 10px;
  color: #274546;
  margin-top: 0.5vh;
}

/* Media Queries */
@media only screen and (min-width: 900px){
  #newGrid{
    width: 30vw;
  }
}
